@page
@model PrivacyModel
@{
    ViewData["Title"] = "FireWorks";
}
<h1>@ViewData["Title"]</h1>
<body>

    <input type="button" id="btnBeforeOk" value="Ok" runat="server" name="btnBeforeOk" style="width: 90%;" onserverclick="btnBeforeOk_ServerClick" />
    <input id="Submit" type="submit" value="Submit" />
    <input id="Input" type="text" />
</body>